body {
    margin: 0;
    padding: 0;
    font-family: verdana, arial, helvetica, sans-serif;
    /*font-size: 0.75em;*/
    font-size: 12px;
    background: #ddd;
}
a:link, a:visited {
    color: #35a;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#page-shell {
    width: 900px;
    margin: 0 auto;
}
h1 {
    background: #5881d8;
    border-bottom: 4px solid #90b4fe;
    margin: 0;
    padding: 0;
    padding: 15px 20px 10px 20px;
    font-family: helvetica, arial;
    text-transform: uppercase;
    font-size: 15px;
}
#masthead h1 a {
    color: #fff;
    text-decoration: none;
}
#sidebar {
    width: 190px;
    clear: right;
    float: right;
    margin: 15px 0 0 10px;
    padding: 0 0 0 10px;
    border-left: 1px solid #ddd;
}
#sidebar h3 {
    margin: 5px 0 10px 0;
    padding: 0;
}
ul#ns-list {
    margin: 0 0 0 30px;
    padding: 0;
    line-height: 1.6em;
}
#session-info {
    float: right;
    width: 300px;
    padding: 0 0 0 20px;
    margin: 20px 0 20px 20px;
    text-align: right;
}
#logout-link, #login-link {
    margin: 0 0 0 10px;
}
#login-link {
    float: right;
}
.button {
    padding: 2px 5px;
    background: #e8e8ff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8ff');
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8ff));
    background: -moz-linear-gradient(top,  #fff,  #e8e8ff);
    border: 1px solid #ddf;
    border-bottom: 1px solid #aaf;
    border-right: 1px solid #aaf;
}
input[type=submit] {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 1.1em;
    color: #35a;
    padding: 5px 10px;
}
#content-shell {
    position: relative;
    clear: both;
    padding: 0 20px 50px 20px;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
h2#page-title {
    font-size: 18px;
    margin: 0;
    padding: 20px 0 0 0;
}
h3 {
    font-size: 14px;
}
#main-content {
/*    min-height: 300px;*/
    width: 650px;
}
#username {
    font-weight: bold;
}
.empty {
    color: #aaa;
}
#page-info {
    margin-top: 50px;
    border-top: 2px solid #ddd;
    padding: 10px 0;
    color: #aaa;
}
#edit-link {
    margin: 10px;
}
textarea {
    font-family: menlo, monaco, consolas, courier-new;
    font-size: 1em;
    padding: 2px;
}
#edit-text {
    width: 600px;
    height: 400px;
    display: block;
    margin: 0 0 10px 0;
}
textarea#see {
    width: 300px;
    height: 100px;
    display: block;
    margin: 0 0 10px 0;
}
#main-content div.syntaxhighlighter {
    margin: 0 0 0 20px !important;
    width: 580px !important;
}
pre {
    margin: 5px 0 0 25px;
}
pre, code {
    font-family: menlo, monaco, "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    line-height: 14px !important;
    font-size: 12px;
}
form {
    margin: 10px 0 0 0;
    padding: 0;
}
pre.output {
    color: #888;
    padding: 0 0 3px 15px;
    margin: 10px 0 10px 35px;
    border-left: 1px solid #ddd;
    font-size: 11px;
}
.clear {
    clear: both;
}